<!DOCTYPE html>
<html ng-app="mycomponent">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
      <link href="../css/bootstrap.min.css" type="text/css" 	rel="stylesheet" />
      <link href="../css/newroz.css" type="text/css" rel="stylesheet" />
      <meta xmlns="http://www.w3.org/1999/xhtml"
         content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"
         name="viewport">
      <style>
         .Loading{ 
	         background-image:url('/static/img/ajax-loader.gif');
	         background-repeat:no-repeat;
	         background-attachment:fixed;
	         background-position:center; 
         }
      </style>
   </head>
   <body ng-controller="customerController" id="Body" class = "Loading" style="background-color : #eee;">
      <headernav></headernav>
      <!-- page body -->
      <div id="main">
         <div ng-view></div>
      </div>
      <!-- footer start -->
      <footernav></footernav>
      <!-- footer end -->
      <div style="display: none">
         <script src="../js/lib/jquery.js" type="text/javascript" > </script>
         <script src="../js/lib/bootstrap.js" type="text/javascript" > </script>
         <script src="../js/lib/angular.js" type="text/javascript" > </script>
         <script src="../js/newroz.js" type="text/javascript" >	</script>
         <script src="../js/newrozcmpt.js" type="text/javascript"> </script>
         <script src="../js/controller.js" type="text/javascript" >	</script>
         <script src="../js/lib/polyglot.js" type="text/javascript" ></script>
         <script>

         	function findBootstrapEnvironment() {
			    var envs = ['xs', 'sm', 'md', 'lg'];

			    $el = $('<div>');
			    $el.appendTo($('body'));

			    for (var i = envs.length - 1; i >= 0; i--) {
			        var env = envs[i];

			        $el.addClass('hidden-'+env);
			        if ($el.is(':hidden')) {
			            $el.remove();
			            return env
			        }
			 };
			}

         	function collapse(){
    			var mode = findBootstrapEnvironment();
       			if (mode == 'xs'){
            		$('.navbar-toggle').click();
        		}
    		}

            var _locale="";
            if(navigator.language==="en-US"){
            	_locale = 'en';
            }
            else if(navigator.language==="de"){
            	_locale= 'de';
            }
            		
            		$.getJSON('/static/locales/' + _locale + '.json', function(data) {
            			window.polyglot = new Polyglot({phrases: data});
            		})
            		
            $('#Body').removeClass('Loading');
            
         </script>
      </div>
   </body>
</html>