.moreOptions {
    color : #fff !important;
}

body {
    background-color: #eee;

}

/** Responsive CSS**/

@media (max-width: 768px) {

    .myResponsive p{
        margin-bottom: 5px;
        font-size: 10px ; 
        line-height: 1.4;
    }
    .myResponsive strong p{
        margin-bottom: 5px;
        font-size: 12px ; 
        line-height: 1.4;
        margin-top:30px;
    }

    .myResponsive .table_data{
        
        font-size: 10px; 
 
    }



}
@media (min-width: 768px){

    .myResponsive p{
        margin-bottom: 10px;
        font-size: 15px; 
        line-height: 2;
    }
    .myResponsive .table_data{
        
        font-size: 15px; 
 
    }
    .my-class {
        margin:50px;
    }

    .Body {
        margin-top: 40px;
        padding-top: 15px;
    }

}


.view1 {
  margin-top: 45px;
  background-color: #eee;
  padding-bottom: 0px;
}
.customerInformation {
    padding-left: 10px;
}

.form-signin {
  max-width: 330px;
  padding-top: -30px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 40px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.table-nonfluid {
   width: auto;
}

.customerInfo .well {
        border-radius: 9px;
        padding-left: 10px;
        padding-right: 10px;
    }
.table1 {
    margin:0px;
    padding-bottom: 0px;
}
.table2 {
    padding-top: 5px;
}

   .customerDetails {
      margin-top: 50px;
   }

    .customerDetails span{
        padding-right:  10px;
    }

    .subscriberSelecteion {
        margin-top: -20px;
    }
    .dropdown-manual {
   background-color: #000;
   color:#fff;
}
ul .dropdown-manual li a {
   color:#fff;
}

.dropdown-manual {
  background-color: #000;
  color:#fff;
}